div {
  width: 2000px;
  display: flex;
  flex-wrap: wrap;
  border: 1px #81d4fa solid;
  border-radius: 5px;
  margin-top: 5px;
}

p {
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
  padding: 5px;
  /*background-color: #ddd;*/
}

h4{
  margin: 0 5px 0 5px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
}
